
/* .ui.modal.dimmer.transition.visible.active {
  display:flex !important;
  } */
  @media only screen and (min-width: 100px) {
    .modal-forms {
      /* position: absolute; */
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
      overflow-y: scroll;
    }
  }

  @media only screen and (min-width: 992px){
    .ui.modal {
        position: absolute;
        top:30%;
    }
}

@media only screen and (min-width: 768px){
    .ui.modal {
        position: absolute;
        top: 30%;
    }
}

@media only screen and (max-width: 767px){
    .ui.modal {
        position: absolute;
        top: 30%;
    }
}